* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.page-title {
    background-color: rgb(236, 233, 233);
    font-size: large;
    font-weight: 500;
    padding: 0.8rem;
}